{% comment %} Mobile linked List {% endcomment %}

<div class="mobile-main-menu--wrapper pt-[96px] w-full h-full text-green">
  <ul class="main-menu-mobile flex flex-col flex-wrap relative z-40">
    {% for link in menu.links %}
      <li class="px-[16px] border-b border-[#CED3D3] menu-item block {% if link.links %} has-dropdown{% endif %}">
        <div>
          {% if link.links %}
            <button
              href="{{ link.url }}"
              data-link="{{ link.handle }}"
              class="body-smaller uppercase"
              x-data="{ isAccordionOpen: false }"
            >
              {{ link.title }}
            </button>
            <ul
              class=""
              x-cloak
              x-show="isAccordionOpen"
              x-collapse
              x-collapse.duration.500ms
            >
              {% for sublink in link.links %}
                <li class="submenu-item w-full{% if sublink.links %} has-submenu{% endif %}">
                  <a href="{{ sublink.url }}" class="body-smaller uppercase">
                    {{ sublink.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
