{% comment %} Mobile linked List {% endcomment %}

<div class="mobile-main-menu--wrapper pt-[56px] w-full h-full text-green">
  <ul class="main-menu-mobile flex flex-col flex-wrap relative z-40">
    {% for link in menu.links %}
      <li
        class="px-[16px] border-b border-[#CED3D3] menu-item block {% if link.links %} has-dropdown{% endif %}"
        x-data="{ isAccordionOpen: false }"
      >
        <div>
          {% if link.links %}
            <div class="w-full flex items-center justify-between py-2.5" @click="isAccordionOpen = !isAccordionOpen">
              <button
                href="{{ link.url }}"
                data-link="{{ link.handle }}"
                class="body-smaller uppercase"
              >
                {{ link.title }}
              </button>
              <button class="relative w-3 h-3">
                <span class="w-3 h-[1px]  bg-green block absolute top-1/2 left-0 translate-y-[-1px]"></span>
                <span
                  class="w-[1px] h-3 bg-green block absolute top-0 left-1/2 opacity transition ease-in-out duration-500"
                  :class="{'opacity-0': isAccordionOpen,' opacity-100': !isAccordionOpen }"
                ></span>
              </button>
            </div>
            <ul
              class="pb-2.5"
              x-cloak
              x-show="isAccordionOpen"
              x-collapse
              x-collapse.duration.500ms
            >
              {% for sublink in link.links %}
                <li class="submenu-item w-full{% if sublink.links %} has-submenu{% endif %}">
                  <a href="{{ sublink.url }}" class="body-smaller uppercase">
                    {{ sublink.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
