{% comment %} Mobile linked List {% endcomment %}

<div class="mobile-main-menu--wrapper pt-[96px] w-full h-full px-[16px] text-green">
  <ul class="main-menu-mobile flex flex-col flex-wrap space-y-[32px] relative z-40">
    {% for link in menu.links %}
      <li class="menu-item block {% if link.links %} has-dropdown{% endif %}">
        {% if link.links.size > 0 %}
          <button data-href="{{ link.url }}" data-link="{{ link.handle }}" @click.debounce="showMenuMobile($event)">
            {{ link.title }}
          </button>

        {% else %}
          <div>
            {% if link.links %}
              <a
                href="{{ link.url }}"
                data-link="{{ link.handle }}"
                class="body-smaller"
              >
                {{ link.title }}
              </a>
              <ul class="">
                {% for sublink in link.links %}
                  <li class="submenu-item w-full{% if sublink.links %} has-submenu{% endif %}">
                    <a href="{{ sublink.url }}">
                      {% comment %} Make this image the collection image {% endcomment %}

                      <div class="aspect-square w-full relative mb-[12px]">
                        {%- if sublink.type == 'collection_link' -%}
                          {%- if sublink.object.image != blank -%}
                            {{
                              sublink.object.image
                              | image_url: width: 900
                              | image_tag:
                                loading: 'lazy',
                                class: 'w-full h-full relative absolute inset-0 object-cover'
                            }}
                          {%- endif -%}
                        {%- endif -%}
                      </div>

                      <span class="body-smaller">
                        {{ sublink.title }}
                      </span>
                    </a>

                    {% comment %} No Grandchilderen as far as we know {% endcomment %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
