{%- liquid
  assign product_blocks = section.blocks | where: 'type', 'collection_products'
-%}
<section class="bg-[#E6E9E9] layout--grid py-5 mb-14 gap-y-5">
  <div class="row-start-2 md:row-start-auto col-span-12 md:col-span-6 flex items-center justify-center">
    <div class="w-full md:max-w-md mb-5 md:mb-0">
      <a href="{{ section.settings.collection.url }}">
        <h2 class="heading-1 mb-2">
          {{ section.settings.collection.title }}
        </h2>
      </a>
      <div>
        <p class=" text-[16px] md:text-[20px] leading-5 md:leading-7">{{ section.settings.description }}</p>
      </div>
      <a
        href="{{ section.settings.collection.url }}"
        class="block w-fit mt-5 bg-green text-white rounded-full px-7 py-2"
      >
        See More
      </a>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 row-start-1 md:row-start-auto">
    <a href="{{ section.settings.collection.url }}">
      <div class="group overflow-hidden">
        {% if section.settings.alt_hero_image != blank %}
          {{
            section.settings.alt_hero_image
            | image_url: width: 900
            | image_tag:
              loading: 'lazy',
              class: 'lg:group-hover:scale-[1.1] transition-all w-full h-auto relative flex object-center aspect-square object-cover'
          }}
        {% else %}
          {% if section.settings.collection.image != blank %}
            {{
              section.settings.collection.image
              | image_url: width: 900
              | image_tag:
                loading: 'lazy',
                class: 'lg:group-hover:scale-[1.1] transition-all w-full h-auto relative flex object-center aspect-square object-cover'
            }}
          {% else %}
            <div class="aspect-square bg-[#120d0d]"></div>
          {% endif %}
        {% endif %}
      </div>
    </a>
  </div>

  <div class="col-span-12 hidden md:grid grid-cols-12 gap-x-5 ">
    {%- for block in product_blocks -%}
      {%- assign block_product = block.settings.product -%}
      <div class="col-span-12 md:col-span-3">
        {%- assign lazy_load = lazy_load | default: 'lazy' -%}

        <a href="{{ block_product.url }}" class="card-wrapper group">
          <div class="card">
            {%- if block_product.product.featured_media != blank -%}
              <div class="relative w-full block aspect-video mb-[16px] overflow-hidden">
                {{
                  block_product.product.featured_media
                  | image_url: width: 600
                  | image_tag:
                    loading: lazy_load,
                    class: 'aspect-video w-full h-full absolute inset-0 object-center z-10 lg:group-hover:scale-[1.1] transition-all object-cover object-center'
                }}
              </div>
            {%- endif -%}

            <div class="card-product-title--wrapper">
              <h3 class="body-1 text-green text-[16px] md:text-[20px]">
                {{ block_product.product.title }}
              </h3>
            </div>
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>

  <div
    class="col-span-12 wrapper-section--swiper relative block md:hidden"
    x-data="collectionListingSlider"
  >
    {%- if section.settings.collection.products.size > 0 -%}
      <div class="col-span-2 swiper-pgaination--wrapper flex lg:col-start-9 lg:col-end-13">
        <div class="absolute bottom-0 right-0 swiper-pagination--inner-collection-listing">
          <div class="swiper-pagination swiper-pagination-collection-listing"></div>
        </div>
      </div>
    {%- endif -%}
    <div
      class="swiper"
      x-init="init($el)"
    >
      <div class="w-full swiper-wrapper">
        {%- for product in section.settings.collection.products limit: 4 -%}
          <div class="flex flex-col h-auto swiper-slide">
            {%- if product and product != empty -%}
              {%- assign lazy_load = lazy_load | default: 'lazy' -%}

              <a href="{{ product.url | within: collection }}" class="card-wrapper group">
                <div class="card">
                  {%- if product.featured_media != blank -%}
                    <div class="relative w-full block aspect-video mb-[16px] overflow-hidden">
                      {{
                        product.featured_media
                        | image_url: width: 600
                        | image_tag:
                          loading: lazy_load,
                          class: 'aspect-video w-full h-full absolute inset-0 object-center z-10 lg:group-hover:scale-[1.1] transition-all object-cover object-center'
                      }}
                    </div>
                  {%- endif -%}

                  <div class="card-product-title--wrapper">
                    <h3 class="body-1 text-green text-[16px] md:text-[20px]">
                      {{ product.title }}
                    </h3>
                  </div>
                </div>
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Listing",
  "settings": [
    {
      "type": "textarea",
      "id": "description",
      "label": "Collection Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Featured Collection",
      "info": "Choose the collection (Brand) you'd like to feature"
    },
    {
      "type": "image_picker",
      "id": "alt_hero_image",
      "label": "Alternative Hero Image"
    }
  ],
  "blocks": [
    {
      "type": "collection_products",
      "name": "Collection Products",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Alternative Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Listing",
      "blocks": []
    }
  ]
}
{% endschema %}
