{%- liquid
  assign category_blocks = section.blocks | where: 'type', 'category'
-%}

<section class="grid grid-cols-12 gap-x-5 gap-y-6 mb-14">
  <div class="col-span-12">
    <h2 class="heading-1 mb-[16px]">
      {{ section.settings.heading }}
    </h2>
  </div>

  {%- for block in category_blocks -%}
    <div class="col-span-4">
      <a href="{{ block.settings.collection.url }}">
        <div class="collection-card-image--wrapper mb-[12px] h-auto group overflow-hidden">
          {% if block.settings.collection.image != blank %}
            {{
              block.settings.collection.image
              | image_url: width: 900
              | image_tag:
                loading: 'lazy',
                class: 'lg:group-hover:scale-[1.1] transition-all w-full h-auto relative flex object-center aspect-video object-cover'
            }}
          {% else %}
            <div class="aspect-video bg-[#120d0d]"></div>
          {% endif %}
        </div>
      </a>
      <a href="{{ block.settings.collection.url }}">
        <h3 class="text-[16px] md:text-[20px]">
          {{ block.settings.collection.title }}
        </h3>
      </a>
    </div>
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "Featured Categories",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "Shop by category"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Category",
          "info": "Choose the collection (Category) you'd like to feature"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Categories",
      "blocks": []
    }
  ]
}
{% endschema %}
