{%- liquid
  assign products = section.blocks | where: 'type', 'products'
-%}

<section class="layout--grid gap-y-6 mb-14">
  <div class="col-span-12">
    <h2 class="heading-1 mb-[16px]">
      {{ section.settings.heading }}
    </h2>
  </div>
  {{ block.settings.product.media | json }}
  {%- for block in products -%}
    <div class="col-span-6 md:col-span-3">
      <a href="{{ block.settings.collection.url }}">
        <div class="collection-card-image--wrapper mb-[12px] h-auto group overflow-hidden">
          {% if block.settings.product.media[0] != blank %}
            {{
              block.settings.product.media[0]
              | image_url: width: 900
              | image_tag:
                loading: 'lazy',
                class: 'lg:group-hover:scale-[1.1] transition-all w-full h-auto relative flex object-center aspect-video object-cover'
            }}
          {% else %}
            <div class="aspect-video bg-[#d3d3d3]"></div>
          {% endif %}
        </div>
      </a>
      <a href="{{ block.settings.product.url }}">
        <h3 class="text-[16px] md:text-[20px]">
          {{ block.settings.product.title }}
        </h3>
      </a>
    </div>
  {%- endfor -%}
</section>
{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "What's trending"
    }
  ],
  "blocks": [
    {
      "type": "products",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product",
          "info": "Choose the product you'd like to feature"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "blocks": []
    }
  ]
}
{% endschema %}
